<div id="landing">
  <div class="landing-title">

    <!-- Image insertion starts here -->
    <!-- Image insertion starts here -->
    <img src="https://raw.githubusercontent.com/yogeshtodarwal/Mathieu/master/_includes/Mathieu.png" alt="Person's Photo">
    <!-- Image insertion ends here -->

    <!-- Image insertion ends here -->
    
    <h1>Dear 
      <span class="highlight-title">{{site.username}}</span>,
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "Thank you!"]'
      >
      </span>
    </h1>

    </div>
  </div>
</div>
